<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Lista de orientadores</title>
</head>

<body>
    <script type="text/javascript">
        function requiredInsProf() {
            var empt = document.forms["formInsProf"]["ra"].value;
            var empt2 = document.forms["formInsProf"]["nome"].value;

            if (empt == "" || empt2 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }
        function requiredInsAlu() {
            var empt = document.forms["formInsAlu"]["ra"].value;
            var empt2 = document.forms["formInsAlu"]["nome"].value;

            if (empt == "" || empt2 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }

        function requiredInsOri() {
            var empt = document.forms["formInsOri"]["nome"].value;
            var empt2 = document.forms["formInsOri"]["nomeProf"].value;
            var empt3 = document.forms["formInsOri"]["nomeAluno"].value;

            if (empt == "" || empt2 == "" || empt3 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }

        function requiredEditProf() {
            var empt = document.forms["formEditProf"]["ra"].value;
            var empt2 = document.forms["formEditProf"]["nome"].value;
            var empt3 = document.forms["formEditProf"]["old"].value;

            if (empt == "" || empt2 == "" || empt3 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }
        function requiredEditAlu() {
            var empt = document.forms["formEditAlu"]["ra"].value;
            var empt2 = document.forms["formEditAlu"]["nome"].value;
            var empt3 = document.forms["formEditAlu"]["old"].value;

            if (empt == "" || empt2 == "" || empt3 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }

        function requiredEditOri() {
            var empt = document.forms["formEditOri"]["nomeProf"].value;
            var empt2 = document.forms["formEditOri"]["nome"].value;
            var empt3 = document.forms["formEditOri"]["old"].value;
            var empt4 = document.forms["formEditOri"]["nomeAluno"].value;

            if (empt == "" || empt2 == "" || empt3 == "" || empt4 == "") {
                alert("CAMPOS INVÁLIDOS");
                return false;
            }
            else {
                return true;
            }
        }

        function deleteAlert() {
            alert("DELETADO COM SUCESSO");
            return true;
        }
    </script>
    <form action="logout" method="GET" accept-charset="utf-8">
        <input type="submit" value="Logout" />
    </form>

    <h2>INSERIR</h2>
    <p>Inserir Professor</p>
    <form name="formInsProf" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredInsProf()">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="ra">RA:</label>
        <input type="text" name="ra" autocomplete="off" value="" id="ra" />
        <input type="hidden" name="old" value="vazio" />
        <input type="hidden" name="method" value="inserir" />
        <input type="hidden" name="tipo" value="professor" />
        <input type="submit" value="Adicionar" />
    </form>

    <p>Inserir Aluno</p>
    <form name="formInsAlu" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredInsAlu()">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="ra">RA:</label>
        <input type="text" name="ra" autocomplete="off" value="" id="ra" />
        <input type="hidden" name="old" value="vazio" />
        <input type="hidden" name="method" value="inserir" />
        <input type="hidden" name="tipo" value="aluno" />
        <input type="submit" value="Adicionar" />
    </form>

    <p>Inserir Orientacoes</p>
    <form name="formInsOri" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredInsOri()">
        <label for="nome">Nome Orientacao:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="nomeProf">Nome Professor:</label>
        <input type="text" name="nomeProf" autocomplete="off" value="" id="nomeProf" />
        <label for="nomeAluno">Nome Aluno:</label>
        <input type="text" name="nomeAluno" autocomplete="off" value="" id="nomeAluno" />
        <input type="hidden" name="method" value="inserir" />
        <input type="hidden" name="tipo" value="orientacao" />
        <input type="submit" value="Adicionar" />
    </form>

    <h2>EDITAR</h2>

    <p>Editar Professor</p>
    <!--EDITAR-->
    <form name="formEditProf" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredEditProf()">
        <label for="old">Nome do Professor a ser modificado</label>
        <input type="text" name="old" autocomplete="off" value="" id="old" />
        <label for="nome">Novo Nome:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="ra">Novo RA:</label>
        <input type="text" name="ra" autocomplete="off" value="" id="ra" />
        <input type="hidden" name="method" value="editar" />
        <input type="hidden" name="tipo" value="professor" />
        <input type="submit" value="Editar">
    </form>

    <p>Editar Aluno</p>
    <!--EDITAR-->
    <form name="formEditAlu" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredEditAlu()">
        <label for="old">Nome do Aluno a ser modificado</label>
        <input type="text" name="old" autocomplete="off" value="" id="old" />
        <label for="nome">Novo Nome:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="ra">Novo RA:</label>
        <input type="text" name="ra" autocomplete="off" value="" id="ra" />
        <input type="hidden" name="method" value="editar" />
        <input type="hidden" name="tipo" value="aluno" />
        <input type="submit" value="Editar">
    </form>

    <p>Editar Orientacoes</p>
    <form name="formEditOri" action="list" method="POST" accept-charset="utf-8" onsubmit="return requiredEditOri()">
        <label for="old">Nome da Orientacao a ser modificada</label>
        <input type="text" name="old" autocomplete="off" value="" id="old" />
        <label for="nome">Nome Orientacao:</label>
        <input type="text" name="nome" autocomplete="off" value="" id="nome" />
        <label for="nomeProf">Nome Professor:</label>
        <input type="text" name="nomeProf" autocomplete="off" value="" id="nomeProf" />
        <label for="nomeAluno">Nome Aluno:</label>
        <input type="text" name="nomeAluno" autocomplete="off" value="" id="nomeAluno" />
        <input type="hidden" name="method" value="editar" />
        <input type="hidden" name="tipo" value="orientacao" />
        <input type="submit" value="Editar" />
    </form>

    <h2>PROFESSORES</h2>
    <ul>
        {{#each professor}}
        <br />
        <li>Nome: <form action="orient" method="POST" accept-charset="utf-8">
                <input type="hidden" name="nome" value="{{nome}}" />
                <input type="hidden" name="id" value="{{_id}}" />
                <input type="hidden" name="ra" value="{{ra}}" />
                <input type="hidden" name="method" value="orient" />
                <input type="hidden" name="tipo" value="professor" />
                <input type="submit" value="{{nome}}">
            </form>
            RA: {{ra}}
            <form action="list" method="POST" accept-charset="utf-8" onsubmit="return deleteAlert()">
                <input type="hidden" name="nome" value="{{nome}}" />
                <input type="hidden" name="old" value="{{nome}}" />
                <input type="hidden" name="ra" value="{{ra}}" />
                <input type="hidden" name="method" value="deletar" />
                <input type="hidden" name="tipo" value="professor" />
                <input type="submit" value="Deletar">
            </form>
        </li>
        {{/each}}
    </ul>

    <h2>ALUNOS</h2>
    <ul>
        {{#each aluno}}
        <br />
        <li>Nome: <form action="orient" method="POST" accept-charset="utf-8">
                <input type="hidden" name="nome" value="{{nome}}" />
                <input type="hidden" name="id" value="{{_id}}" />
                <input type="hidden" name="ra" value="{{ra}}" />
                <input type="hidden" name="method" value="orient" />
                <input type="hidden" name="tipo" value="aluno" />
                <input type="submit" value="{{nome}}">
            </form>
            RA: {{ra}}

            <form action="list" method="POST" accept-charset="utf-8" onsubmit="return deleteAlert()">
                <input type="hidden" name="nome" value="{{nome}}" />
                <input type="hidden" name="old" value="{{nome}}" />
                <input type="hidden" name="ra" value="{{ra}}" />
                <input type="hidden" name="method" value="deletar" />
                <input type="hidden" name="tipo" value="aluno" />
                <input type="submit" value="Deletar">
            </form>

        </li>
        {{/each}}
    </ul>

    <h2>ORIENTACOES</h2>
    <ul>
        {{#each orientacao}}
        <li>Nome: {{nome}}<br />Professor: {{prof.nome}}<br />Aluno: {{alu.nome}}</li>
        <form action="list" method="POST" accept-charset="utf-8" onsubmit="return deleteAlert()">
            <input type="hidden" name="nome" value="{{nome}}" />
            <input type="hidden" name="method" value="deletar" />
            <input type="hidden" name="tipo" value="orientacao" />
            <input type="submit" value="Deletar">
        </form>
        {{/each}}
    </ul>

</body>

</html>